<!--
  Generated template for the ClientsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
  <ion-navbar>
    <ion-title>Clients</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="row">
    <div class="col-xs-2 col-sm-2 col-sm-2"></div>
    <div class="col-xs-8 col-sm-8 col-sm-8">
      <div class="panel panel-default">
        <div class="panel-heading c-list">
          <span class="title">Contacts</span>
          <ul class="pull-right c-controls">
            <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add Contact"><ion-icon name="add"></ion-icon></a></li>
            <li><a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip" data-placement="top" title="Toggle Search"><ion-icon name="search"></ion-icon></a></li>
          </ul>
        </div>

        <ul class="list-group" id="contact-list">
          <li class="list-group-item">
            <ion-list>
              <ion-item-sliding *ngFor="let client of currentClients">
                <button ion-item (click)="openClient(client)">
                  <div class="row">

                  <div class="col-xs-3 col-sm-3">
                    <img src="../../assets/imgs/user-placeholder.png" alt="Scott Stevens" class="img-responsive img-circle" />
                  </div>
                  <div class="col-xs-7 col-sm-7">
                    <span class="name">{{client.name}} {{client.firstname}}</span><br/>
                    <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="{{client.adresse}}"></span>
                    <span class="visible-xs"> <span class="text-muted">{{client.adresse}}</span><br/></span>
                    <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="{{client.tel}}"></span>
                    <span class="visible-xs"> <span class="text-muted">{{client.tel}}</span><br/></span>
                    <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="{{client.email}}"></span>
                    <span class="visible-xs"> <span class="text-muted">{{client.email}}</span><br/></span>
                  </div>
                  <ion-note item-end *ngIf="client.note">{{client.note}}</ion-note>
                </div>
                </button>
              </ion-item-sliding>
            </ion-list>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-sm-2"></div>
  </div>

</ion-content>
