<!--
  Generated template for the DevisPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Devis</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="container" id="tourpackages-carousel">
    <div class="row">
      <div class="col-lg-12">
        <button ion-button icon-start class="pull-right">
          <ion-icon name="add"></ion-icon>
          Ajouter un devis
        </button>
      </div>
    </div>
  </div>
  <br>
  <div class="row">

  </div>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 clientSelected" *ngFor="let devis of currentDeviss">
        <div ion-item (click)="openDevis(devis)" class="clientSelected">
          <div class="thumbnail">
            <div class="caption">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <span class="glyphicon glyphicon-credit-card"></span>
                  <span class="glyphicon glyphicon-trash pull-right text-primary"></span>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well well-add-card">
                  <h4>{{devis.name}} {{devis.firstname}}</h4>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                </div>
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                  <h4>{{devis.adresse}}</h4>
                  <button ion-button icon-start>
                    <ion-icon name="checkmark"></ion-icon>
                    Valider
                  </button>
                  <button ion-button btn-danger icon-start color="danger">
                    <ion-icon name="trash"></ion-icon>
                    Supprimer
                  </button>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                </div>
              </div>
            </div>
          </div>
          <ion-note item-end *ngIf="devis.note">{{devis.note}}</ion-note>
        </div>
      </div>
    </div><!-- End row -->

</ion-content>
